*{
    background-color: black;
}
.main{
    display: flex;
}
.sidebar{
    background-color: black;
    width: 250px;
    height: 590px;
    padding-right: 10px;
}
.spotifylogo:hover{
    filter: brightness(75%);
    
}
.home{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border-radius: 7px;
    display: flex;
}
.home:hover{
    background-color: rgba(73, 68, 68, 0.468);
}
.search{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border-radius: 7px;
    display: flex;
}
.search:hover{
    background-color: rgba(73, 68, 68, 0.468);
}
.yourlibrary{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border-radius: 7px;
    display: flex;

}
.yourlibrary:hover{
    background-color: rgba(73, 68, 68, 0.468);
}
.playlist{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border-radius: 7px;
    display: flex;
}
.playlist:hover{
    background-color: rgba(73, 68, 68, 0.468);
}
.liked{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border-radius: 7px;
    display: flex;

}
.liked:hover{
    background-color: rgba(73, 68, 68, 0.468);
}
.episodes{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border-radius: 7px;
    display: flex;
}
.episodes:hover{
    background-color: rgba(73, 68, 68, 0.468);
}
.install{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border-radius: 7px;
    display: flex;

}
.install:hover{
    background-color: rgba(73, 68, 68, 0.468);
}
.musicpage{
    /* background-color: rgba(56, 46, 46, 0.468); */
    height:600px;
    width: 1260px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.searchbar{
    padding: 20px;
    padding-left: 40px;
    display: flex;
    
    
}
.searchsong{
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    width: 500px;
    border-radius: 30px;
    color: rgba(73, 68, 68, 0.468);
    font-family:'Ubuntu', sans-serif ;
}
.container{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    padding: 10px;
}
.mainbox{
    
    display: inline-flex;
    justify-content: space-between;
    height: 220px;
    width: 1260px;
     
}
#box1{
    background-color: rgb(150, 106, 182);
    padding: 10px;
    width: 355px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    color: white;
    height: 160px;
   

}
#box1:hover{
    filter: brightness(75%);
}
#box2{
    background-color:rgba(209, 103, 15);
    padding: 10px;
    width: 355px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    color: white;
    height: 160px;
}
#box2:hover{
    filter: brightness(75%);
}
#box3{
    background-color: darkslateblue;
    padding: 10px;
    width: 355px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    color: white;
    height: 160px;
    
}
#box3:hover{
    filter: brightness(75%);
}
.container2{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    padding: 10px;
}
.mainbox2{
    display: inline-flex;
    justify-content: space-between;
    height: 130px;
    width: 1260px;
     
}
#box4{
    background-color:palevioletred ;
    padding: 10px;
    width: 250px;
    border-radius:10px;
    margin: 10px;
    color: white;
    height: 130px;
    padding-top: 20px;
   
   

}
#box4:hover{
    filter: brightness(75%);
}
#box5{
    background-color:rgb(9, 139, 117);
    padding: 10px;
    width: 250px;
    border-radius:10px;
    margin: 10px;
    color: white;
    height: 130px;
    padding-top: 20px;
    
}
#box5:hover{
    filter: brightness(75%);
}
#box6{
    background-color: rgb(150, 106, 182);
    padding: 10px;
    width: 250px;
    border-radius:10px;
    margin: 10px;
    color: white;
    height: 130px;
    padding-top: 20px;
    
}
#box6:hover{
    filter: brightness(75%);
}
#box7{
    background-color: rgb(220, 20, 90);
    padding: 10px;
    width: 250px;
    border-radius:10px;
    margin: 10px;
    color: white;
    height: 130px;
    padding-top: 20px;
}
#box7:hover{
    filter: brightness(75%);
}
.player{
    padding: 10px;
    padding-left: 30px;
    display: flex;
}
.poster{
    width: 70px;
}
.poster:hover{
    filter: brightness(75%);
}
.songname{
    color: white;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    width: 160px;
}
.controls{
    
    width: 1240px;
    color: white;
    
}
.buttons{
    display: flex;
    justify-content: center;

}
.slider{
    display: flex;
   justify-content: center;
   width: 1240px;
    
}
#shuffle:hover{
    filter: brightness(75%);
}
#skip-previous:hover{
    filter: brightness(75%);
}
#play:hover{
    filter: brightness(75%);
}
#skip-forward:hover{
    filter :brightness(75%);
}
#repeat-all:hover{
    filter: brightness(75%);
}
